button {
  display: inline-block;
  width: 40px;
  height: 30px;
  margin: 5px;
  vertical-align: top;
}

.container {
  font-size: 0;
}

#output-box {
  border: 1px solid black;
  height: 20px;
}

#calculator {
  width: 200px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

#equals {
  height: 70px;
}

#zero {
  width: 90px
}

#header {
  text-align: center;
}
